<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Simple Webapi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <!-- <link rel="stylesheet" href="css/main.css"> -->
    </head>
    <body>
      <!-- <form action="" method="post">
      <input type="file" name="fname">
      <input type="submit" name="upload" value="upload">
      </form>

 -->
        <div>
         <p id="gaze_left">recognizition result</p>
         <p id="gaze_right"></p>
        </div>
        <div class="upload"><input type="file" name="file" id="file"></div>
        <canvas id="canvas"></canvas>
        <script>
        var file = document.getElementById('file');
        var result = document.getElementById('result');

        function loadLocalImage(e) {
            var fileData = e.target.files[0];

            if(!fileData.type.match('image.*')) {
                alert('Please choose an image file');
                return;
            }

            // FileReaderオブジェクトを使ってファイル読み込み
            var reader = new FileReader();
            // ファイル読み込みに成功したときの処理
            reader.onload = function() {
              document.getElementById("gaze").innerHTML='load image successfully';
            }
            // ファイル読み込みを実行
            reader.readAsDataURL(fileData);
            var fd = new FormData();
            var f1 = document.getElementById('file');
            fd.append('file', f1.files[0]);
            var xhr = new XMLHttpRequest();
            // xhr.overrideMimeType("text/xml");
            xhr.open('POST', '/openface', false);
            xhr.send(fd);
            if(4==xhr.readyState&&200==xhr.status){
              var resobj = JSON.parse(xhr.responseText);
              document.getElementById("gaze_left").innerHTML= 'left eye: ' + resobj['left_eye'];
              document.getElementById("gaze_right").innerHTML= 'right eye: ' + resobj['right_eye'];
            }

            var canvasWidth = 400;
            var canvasHeight = 1200;
            canvas.width = canvasWidth;
            canvas.height = canvasHeight;
            var ctx = canvas.getContext('2d');
            var resultImgSrc = 'static/output/' + resobj['timenow'] + '/' + resobj['timenow'] + '.jpg';
            // var resultImgSrc = 'static/gaze_direction/' + '20181112164519' + '/' + '20181112164519' + '.jpg';
            canvasDraw();
            // Canvas上に画像を表示する
            function canvasDraw() {
                // canvas内の要素をクリアする
                ctx.clearRect(0, 0, canvasWidth, canvasHeight);

                // Canvas上に画像を表示
                var img = new Image();
                img.src = resultImgSrc;
                img.onload = function() {
                ctx.drawImage(img, 0, 0, canvasWidth, this.height * (canvasWidth / this.width));
                }
            }
        }

        // ファイルが指定された時にloadLocalImage()を実行
        file.addEventListener('change', loadLocalImage, false);
        </script>
    </body>
</html>
